* 
{
    box-sizing:  border-box;
}
body 
{
	font-family: 'Tajawal', sans-serif;
	background-color: #f0f6f9;
	font-size: 15px;
    direction: rtl;
}
/* FrameWork Css Classes */
.container-fluid 
{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.container 
{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px auto;
} 
.container-fluid::after 
{
    content: '';
    display: block;
    clear: both;
}
.container::after 
{
    content: '';
    display: block;
    clear: both;
}
.float-left 
{
    float: right;
}
.float-right 
{
    float: left;
}
.list-unstyled 
{
    list-style: none;
}
.form-group 
{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.input-form {
    border: 1px solid #dadada;
    padding: 0.6rem 0.7rem;
    border-radius: 0.3rem;
    outline: none;
    display: block;
}
.input-form:hover,
.input-form:focus
{
    box-shadow: 0px 0px 10px #0075ff57;
}
.label-form {
    display: inline-block;
    margin-bottom: 1rem;
    color: #888;
    font-weight: bold;
}
/* End FrameWord Css */

/* Start Not Found File Css */
.notfound-title {
    color: #24344b;
}

/* End Not Found File Css */

/* Header Style */
.header 
{
    background: #0073f9;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}
.header .toggle
{
    display: inline-block;
}
.header .toggle .fa
{
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    margin-right: 15px;
    -wekbit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.header .bread-crumb-container {
    float: right;
}
.header .bread-crumb {
    display: inline-block;
    margin-right: 9px;
}
.header .bread-crumb a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}
.header .notification {
    float: left;
}
.header .icon-notification {
    display: inline-block;
    float: left;
    padding-top: 9px;
}
.header .icon-notification .fa{
    color: #fff;
    font-size: 1.1rem;
    margin: 0 10px;
    cursor: pointer;
}
.header .admin {
    color: #fff;
    font-weight: bold;
    border: 1px solid #bdbdbd;
    padding: 6px;
    cursor: pointer;
    float: left;
}

/* Start Sidebar */
.wrapper-action {
	overflow: hidden;
    height: 100vh;
}
.sidebar 
{
    width: 250px;
    height: 100%;
    background-color: #24344b;
    float: right;
    position: absolute;
    right: 0px;
    z-index: 999;
    -webkit-transition: all 0.5ms;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.sidebar.none 
{
	right: -250px;
}
.sidebar .admin-information
 {
    color: #fff;
    font-weight: bold;
    display: block;
    text-decoration: none;
    margin: 20px 0px 10px;
    text-align: center;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    border-bottom: 1px solid #8a8a8a;;
}
.sidebar .admin-information .image-admin
{
	background-image: url( '../img/image-admin.jpg' );
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
	margin: 0px auto;
	border-radius: 50%;
	width: 80px;
	height: 80px;
}
.sidebar .admin-information .admin-name
{
	color: #fff;
	font-weight: bold;
	display: block;
	text-decoration: none;
	margin: 20px 0px 10px;
}
.sidebar .admin-information .admin-role
{
    color: #bdbdbd;
    font-weight: 600;
    display: block;
    font-size: 15px;
}
.sidebar .sidebar-links .links
{
	padding: 5px 0px; 	
	margin: 0px;
    list-style-type: none;
}
.sidebar .sidebar-links .link
{
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    position: relative;
}
.sidebar .sidebar-links > ul > .link:hover::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    right: 19px;
    background-color: #3a485d;
    top: 0px;
}
.sidebar .sidebar-links .link.link.selected
{
    background-color: #20385a;
}
.sidebar .sidebar-links .link:hover
{
    background-color: #20385a;
}
.sidebar .sidebar-links .links .link a
{
	color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 27px;
    font-weight: 600;
}
.sidebar .sidebar-links .links .link a .fa
{
	margin-left: 5px;
} 
.sidebar .sidebar-links .links .link .menu-group
{
    transform: scale(1,0);
    transform-origin: top center;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    height: 0px;
    
}
.sidebar .sidebar-links .links .link .menu-group.active
{
    -webkit-transform: scale(1,1) ;
    -moz-transform: scale( 1,1 );
    transform: scale( 1, 1) ;
    height: 80px;
}
/* End SideBar */

/* Start Wrapper Action */
.wrapper-action
{
    position: relative;
    right: 250px;
    width: calc(100% - 250px );
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    padding: 1rem 1.5rem;
}
.wrapper-action.none 
{
    right: 0px;
}
/* End Wrapper Action */

/* Group  */
.wrapper-action .group
{
    margin: 1.8rem 0px;
}
.wrapper-action .group .table-group
{
    border-collapse: collapse;
    width: 80%;
    background: #fff;
    border: 1px solid #d6d5d5;
}
.wrapper-action .group .table-group th 
{
    width: 50%;
    padding: 0.8rem 1rem;
    text-align: right;
    color: #909090;
    font-weight: bold;
    background: #24344b;
    color: #fff;
    border-left: 1px solid #8a8a8a
}
.wrapper-action .group .table-group td
{
    padding: 0.8rem 1rem;
}

/* Default Privilege Style */
.wrapper-action .privilege
{
    margin: 1.8rem 0px;
    width: 90%;
}
.wrapper-action .privilege-add-btn
{
    display: block;
    width: 140px;
    margin-right: auto;
    color: #fff;
    background-color: #0075ff;
    text-decoration: none;
    padding: 0.8rem 1rem;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    margin-bottom: 1.2rem
}
.wrapper-action .privilege .table-privilege
{
    border-collapse: collapse;
    background: #fff;
    border: 1px solid #d6d5d5;
    width: 80%;
    margin: auto;
}
.wrapper-action .privilege .table-privilege th 
{
    width: 33%;
    padding: 0.8rem 1rem;
    text-align: right;
    color: #909090;
    font-weight: bold;
    background: #24344b;
    color: #fff;
    border-left: 1px solid #8a8a8a
}
.wrapper-action .privilege .table-privilege td
{
    padding: 0.8rem 1rem;
    border: 1px solid #d4d4d4;
    color: #565656;
    font-weight: bold;
}
.wrapper-action .privilege .table-privilege td .fa
{
    margin: 0px 0.3rem;
    font-size: 1.2rem;
    cursor: pointer;
}
.wrapper-action .privilege .table-privilege td .fa.edit
{
    color: #0075ff;
}
.wrapper-action .privilege .table-privilege td .fa.delete   
{
    color: #f44336;
}

/* Add Privilege */
.wrapper-action .privilege-add
{
    padding: 1.3rem 1.6rem;
}
.wrapper-action .form-privilege-add
{
    padding: 1.5rem;
    background-color: #fff;
    width: 70%;
    border: 1px solid #e4e4e4;
    border-radius: 0.5rem;
}
.wrapper-action .form-privilege-add {
    padding: 1.5rem;
    background-color: #fff;
    width: 70%;
    border: 1px solid #e4e4e4;
    border-radius: 0.5rem;
}
.wrapper-action .form-privilege-add .input-form 
{
    width: 80%;
    background: #f2f7f9;
    font-weight: bold;
}
.wrapper-action .form-privilege-add .btn-submit 
{
    padding: 0.8rem 1.3rem;
    background-color: #03a9f4;
    border: 1px solid #e4e4e4;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 19%);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

/* Edit Privielege */
.wrapper-action .privilege-edit
{
    padding: 1.3rem 1.6rem;
}
.wrapper-action .form-privilege-edit
{
    padding: 1.5rem;
    background-color: #fff;
    width: 70%;
    border: 1px solid #e4e4e4;
    border-radius: 0.5rem;
}
.wrapper-action .form-privilege-edit {
    padding: 1.5rem;
    background-color: #fff;
    width: 70%;
    border: 1px solid #e4e4e4;
    border-radius: 0.5rem;
}
.wrapper-action .form-privilege-edit .input-form 
{
    width: 80%;
    background: #f2f7f9;
    font-weight: bold;
}
.wrapper-action .form-privilege-edit .btn-submit 
{
    padding: 0.8rem 1.3rem;
    background-color: #03a9f4;
    border: 1px solid #e4e4e4;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 19%);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
/* Default Group  */
 .wrapper-action .group-default
{
    margin: 1.8rem 0px;
    width: 90%;
}
.wrapper-action .group-add-default
{
    display: block;
    width: 140px;
    margin-right: auto;
    color: #fff;
    background-color: #0075ff;
    text-decoration: none;
    padding: 0.8rem 1rem;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    margin-bottom: 1.2rem
}
.wrapper-action .table-group
{
    border-collapse: collapse;
    background: #fff;
    border: 1px solid #d6d5d5;
    width: 80%;
    margin: auto;
}
.wrapper-action .group-add .table-group th 
{
    width: 33%;
    padding: 0.8rem 1rem;
    text-align: right;
    color: #909090;
    font-weight: bold;
    background: #24344b;
    color: #fff;
    border-left: 1px solid #8a8a8a
}
.wrapper-action .group-add  .table-group td
{
    padding: 0.8rem 1rem;
    border: 1px solid #d4d4d4;
    color: #565656;
    font-weight: bold;
}
.wrapper-action .group-add  .table-group td .fa
{
    margin: 0px 0.3rem;
    font-size: 1.2rem;
    cursor: pointer;
}
.wrapper-action .group-add  .table-group td .fa.edit
{
    color: #0075ff;
}
.wrapper-action .group-add  .table-group td .fa.delete   
{
    color: #f44336;
}

/* Add Privilege */
.wrapper-action .privilege-add
{
    padding: 1.3rem 1.6rem;
}
.wrapper-action .form-privilege-add
{
    padding: 1.5rem;
    background-color: #fff;
    width: 70%;
    border: 1px solid #e4e4e4;
    border-radius: 0.5rem;
}
.wrapper-action .form-privilege-add {
    padding: 1.5rem;
    background-color: #fff;
    width: 70%;
    border: 1px solid #e4e4e4;
    border-radius: 0.5rem;
}
.wrapper-action .form-privilege-add .input-form 
{
    width: 80%;
    background: #f2f7f9;
    font-weight: bold;
}
.wrapper-action .form-privilege-add .btn-submit 
{
    padding: 0.8rem 1.3rem;
    background-color: #03a9f4;
    border: 1px solid #e4e4e4;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 19%);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

/* Edit Privielege */
.wrapper-action .privilege-edit
{
    padding: 1.3rem 1.6rem;
}
.wrapper-action .form-privilege-edit
{
    padding: 1.5rem;
    background-color: #fff;
    width: 70%;
    border: 1px solid #e4e4e4;
    border-radius: 0.5rem;
}
.wrapper-action .form-privilege-edit {
    padding: 1.5rem;
    background-color: #fff;
    width: 70%;
    border: 1px solid #e4e4e4;
    border-radius: 0.5rem;
}
.wrapper-action .form-privilege-edit .input-form 
{
    width: 80%;
    background: #f2f7f9;
    font-weight: bold;
}
.wrapper-action .form-privilege-edit .btn-submit 
{
    padding: 0.8rem 1.3rem;
    background-color: #03a9f4;
    border: 1px solid #e4e4e4;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 19%);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}


/* Add Group */
.wrapper-action .group-add
{
    background-color: #fff;
    padding: 1rem ;
    width: 60%;
    border: 1px solid #d2d0d0;
    border-radius: 0.5rem;
}
.wrapper-action .group-add .label-form
{
    min-width: 30%;
}
.wrapper-action .group-add .input-form {
    width: 70%;
}
.wrapper-action .group-add .submit-btn {
    color: #fff;
    background-color: #0073f9;
    border: none;
    outline: none;
    font-weight: bold;
    padding: 0.5rem 1.2rem;
    cursor: pointer;
    font-size: 1.1rem;
}
