* 
{
    box-sizing:  border-box;
}
body 
{
	font-family: 'Tajawal', sans-serif;
	background-color: #f0f6f9;
	font-size: 14px;
    direction: rtl;
}
/* FrameWork Css Classes */
.container-fluid 
{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.container 
{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px auto;
} 
.container-fluid::after 
{
    content: '';
    display: block;
    clear: both;
}
.container::after 
{
    content: '';
    display: block;
    clear: both;
}
.float-left 
{
    float: left;
}
.float-right 
{
    float: right;
}
.text-align-right
{
    text-align: right;
}
.text-align-left 
{
    text-align: left;
}
.list-unstyled 
{
    list-style: none;
}
.form-group 
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
}
.input-form {
    border: 1px solid #dadada;
    padding: 0.6rem 0.7rem;
    border-radius: 0.3rem;
    outline: none;
    display: block;
}
.input-form:hover,
.input-form:focus
{
    box-shadow: 0px 0px 10px #0075ff57;
}
.label-form {
    display: inline-block;
    margin-bottom: 1rem;
    color: #888;
    font-weight: bold;
}
::placeholder 
{
    font-weight: 500;
    color: #ccc;
}
.d-inline-block
{
    display: inline-block;
}
.input-form-line
{
    width: 100%;
    border: none;
    border-bottom: 1px solid #dadada;
    font-weight: bold;
    display: block;
    outline: none;
    background: transparent;
    color: #5f5f5f;
    padding: 0.85rem 0px;
    font-size: 14px;
}
.input-form-line:hover,
.input-form-line:focus
{
    border-bottom: 1px solid #0075ff;
}
.title
{
    color: #545454;
    margin-bottom: 4rem;
    font-size: 1.5rem;
    text-align: center;
}
/* End FrameWord Css */

/* Start Not Found File Css */
.notfound-title {
    color: #24344b;
}

/* End Not Found File Css */

/* Header Style */
.header 
{
    background: #0073f9;
    padding-top: 0.85rem;
    padding-bottom: 0.85rem;
}
.header .toggle
{
    display: inline-block;
}
.header .toggle .fa
{
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    margin-right: 15px;
    -wekbit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.header .bread-crumb
{
    display: inline-block;
    margin-right: 9px;
    padding-top: 0.6rem;
}
.header .bread-crumb span
{
    color: #fff;
    font-weight: bold;
}
.header .bread-crumb a 
{
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}
.header .icon-notification {
    display: inline-block;
    padding-top: 9px;
}
.header .icon-notification .fa{
    color: #fff;
    font-size: 1.1rem;
    margin: 0 10px;
    cursor: pointer;
}
.header .admin {
    color: #fff;
    font-weight: bold;
    border: 1px solid #bdbdbd;
    padding: 6px;
    cursor: pointer;
    display: inline-block;
}

/* Start Sidebar */
.wrapper-action {
	overflow: hidden;
    height: 100vh;
}
.sidebar 
{
    width: 250px;
    height: 100%;
    background-color: #24344b;
    float: right;
    position: absolute;
    right: 0px;
    z-index: 999;
    -webkit-transition: all 0.5ms;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.sidebar.none 
{
	right: -250px;
}
.sidebar .admin-information
 {
    color: #fff;
    font-weight: bold;
    display: block;
    text-decoration: none;
    margin: 20px 0px 10px;
    text-align: center;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    border-bottom: 1px solid #8a8a8a;;
}
.sidebar .admin-information .image-admin
{
	background-image: url( '../img/image-admin.jpg' );
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
	margin: 0px auto;
	border-radius: 50%;
	width: 80px;
	height: 80px;
}
.sidebar .admin-information .admin-name
{
	color: #fff;
	font-weight: bold;
	display: block;
	text-decoration: none;
	margin: 20px 0px 10px;
}
.sidebar .admin-information .admin-role
{
    color: #bdbdbd;
    font-weight: 600;
    display: block;
    font-size: 15px;
}
.sidebar .sidebar-links .links
{
	padding: 5px 0px; 	
	margin: 0px;
    list-style-type: none;
}
.sidebar .sidebar-links .link
{
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    position: relative;
}
.sidebar .sidebar-links > ul > .link:hover::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    right: 19px;
    background-color: #3a485d;
    top: 0px;
}
.sidebar .sidebar-links .link.link.selected
{
    background-color: #20385a;
}
.sidebar .sidebar-links .link:hover
{
    background-color: #20385a;
}
.sidebar .sidebar-links .links .link a
{
	color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 27px;
    font-weight: 600;
}
.sidebar .sidebar-links .links .link a .fa
{
	margin-left: 5px;
} 
.sidebar .sidebar-links .links .link .submenu
{
    transform: scale(1,0);
    transform-origin: top center;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    height: 0px;
    
}
.sidebar .sidebar-links .links .link .submenu.active
{
    -webkit-transform: scale(1,1) ;
    -moz-transform: scale( 1,1 );
    transform: scale( 1, 1) ;
    height: 130px;
}
.sidebar .sidebar-links .links .link .submenu .link:hover a
{
    text-decoration: underline;
}
/* End SideBar */

/* Start Wrapper Action */
.wrapper-action
{
    position: relative;
    right: 250px;
    width: calc(100% - 250px );
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    padding: 1rem 1.5rem;
}
.wrapper-action.none 
{
    right: 0px;
    width: 100%;
}
/* End Wrapper Action */

/* Group  Default */
.wrapper-action .group
{
    margin: 1.8rem 0px;
}
.wrapper-action .group .table-group
{
    border-collapse: collapse;
    width: 80%;
    background: #fff;
    border: 1px solid #d6d5d5;
}
.wrapper-action .group .table-group th 
{
    width: 50%;
    padding: 0.8rem 1rem;
    text-align: right;
    color: #909090;
    font-weight: bold;
    background: #24344b;
    color: #fff;
    border-left: 1px solid #8a8a8a
}
.wrapper-action .group .table-group td
{
    padding: 0.8rem 1rem;
}
/* End Default Group */

/* Default Privilege Style */
.wrapper-action .privilege
{
    margin: 1.8rem 0px;
}
.wrapper-action .privilege-add-btn
{
    display: block;
    width: 140px;
    color: #fff;
    background-color: #0075ff;
    text-decoration: none;
    padding: 0.8rem 1rem;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    margin-bottom: 2rem;
    margin-right: auto;
    margin-left: 20px;
}
.wrapper-action .privilege .table-privilege
{
    border-collapse: collapse;
    background: #fff;
    border: 1px solid #d6d5d5;
    width: 82%;
    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    box-shadow: 0 20px 20px rgb(0 0 0 / 16%);
}
.wrapper-action .privilege .table-privilege th:first-child
{
    width: 80%;
}
.wrapper-action .privilege .table-privilege th 
{
    padding: 0.8rem 1rem;
    color: #909090;
    font-weight: bold;
    background: #24344b;
    color: #fff;
}
.wrapper-action .privilege .table-privilege tr:nth-child(odd)
{
    background-color: #f0f6f9
}
.wrapper-action .privilege .table-privilege td
{
    padding: 0.8rem 1rem;
    color: #8c8c8c;
    font-weight: bold;
}
.wrapper-action .privilege .table-privilege td .fa
{
    margin: 0px 0.3rem;
    font-size: 1.2rem;
    cursor: pointer;
}
.wrapper-action .privilege .table-privilege td .fa.edit
{
    color: #0075ff;
}
.wrapper-action .privilege .table-privilege td .fa.delete   
{
    color: #f44336;
}
/* End Default Privilege */

/* Add Privilege */
.wrapper-action .privilege-add
{
    padding: 3.5rem 1.8rem;
    width: 430px;
    margin: 3rem auto;
    background: #fff;
    box-shadow: 0 20px 20px rgb(0 0 0 / 16%)
}
.wrapper-action .privilege-add .form-group
{
    margin-bottom: 2rem;
}

.wrapper-action .form-privilege-add .btn-submit 
{
    padding: 0.5rem 1.5rem;
    background-color: #03a9f4;
    border: 1px solid #e4e4e4;
    border-radius: 0.3rem;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    width: 200px;
    display: block;
    font-size: 14px;
}

/* Edit Privielege */
.wrapper-action .privilege-edit
{
    padding: 3.5rem 1.8rem;
    background-color: #fff;
    width: 40%;
    border: 1px solid #e4e4e4;
    border-radius: 0.5rem;
    margin: 50px auto;
    box-shadow: 0 20px 20px rgb(0 0 0 / 16%);
}
.wrapper-action .privilege-edit .form-group
{
    margin-bottom: 2rem;    
}
.wrapper-action .form-privilege-edit .btn-submit 
{
    padding: 0.4rem 1.3rem;
    background-color: #0073f9;
    border: 1px solid #e4e4e4;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 19%);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin: 1rem 0px;
}

/* Default Group  */
 .wrapper-action .group-default
{
    margin: 1.8rem auto;
}

.wrapper-action .table-group
{
    border-collapse: collapse;
    background: #fff;
    width: 80%;
    margin: auto;
    border: 1px solid #d6d6d6;
    box-shadow: 0 20px 20px rgb(0 0 0 / 16%)
}
.wrapper-action  .table-group th 
{
    padding: 0.8rem 1rem;
    text-align: right;
    color: #909090;
    font-weight: bold;
    background: #24344b;
    color: #fff;
}
.wrapper-action  .table-group th:first-child
{
    width: 80%;
}
.wrapper-action .table-group  tr:nth-child(odd)
{
    background-color: #f0f6f9;
}
.wrapper-action .table-group  td
{       
    padding: 1rem;
    color: #565656;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}

.wrapper-action .table-group td .fa
{
    margin: 0px 0.3rem;
    font-size: 1.2rem;
    cursor: pointer;
}
.wrapper-action .table-group td .fa.edit
{
    color: #0075ff;
}
.wrapper-action .table-group td .fa.delete   
{
    color: #f44336;
}

/* add group */
.wrapper-action .title
{
    text-align: right;
    margin: 1rem 0px 3rem;
}
.wrapper-action .group-add
{
    width: 50%;
    padding: 1.8rem 1.5rem;
}
.wrapper-action .group-add .group-label
{
    display: inline-block;
    color: #828282;
    font-weight: bold;
    width: 100%;
    font-size: 1rem;

}
.wrapper-action .group-add .group-input
{
    display: inline-block;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #c7c7c7;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    background: transparent;
}
.wrapper-action .group-add  .label-privilege
{
    width: 100%;
    display: block;
    padding: 0.30rem 0px; 
}
.wrapper-action .group-add .checkbox .customize-checkbox
{
    content: '';
    position: absolute;
    width: 21px;
    height: 19px;
    text-align: center;
    border: 1px solid #bbb6b6;
    cursor: pointer;
}

.wrapper-action .group-add .checkbox .checkbox-privilege
{
    visibility: hidden;
    position: absolute;
    width: 21px;
    height: 21px;
}
.wrapper-action .group-add .checkbox .checkbox-privilege:checked + .customize-checkbox::after
{
    content: "\f00c";
    font-family: fontAwesome;
    background-color: #0075ff;
    color: #fff;
    width: 105%;
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.wrapper-action .group-add .label-privilege-name
{
    display: inline-block;
    margin-right: 2rem;
    cursor: pointer;
    color: #888888;
    font-weight: bold;
}
.wrapper-action .group-add .submit-btn
{
    color: #fff;
    background-color: #0075ff;
    padding: 0.5rem 1.5rem;
    outline: none;
    border: none;
    display: block;
    margin: 3.5rem auto 0px 0px;
    cursor: pointer;
    font-weight: bold;
